In [3]:
import pandas as pd
import numpy as np

**1)**

In [48]:
sinasc=pd.read_csv('SINASC_RO_2019.csv')
total=sinasc.shape
sinasc_novo=sinasc.drop_duplicates().shape
print(f'Sem tratativo dos valores duplicados {total}')
print(f'Com tratativo dos valores duplicados {sinasc_novo}')
print('Não há valores duplicados')

Sem tratativo dos valores duplicados (27028, 69)
Com tratativo dos valores duplicados (27028, 69)
Não há valores duplicados

**2)**

In [49]:
sinasc.isna().sum()
#valores faltantes acumulado por coluna

ORIGEM          0
CODESTAB      115
CODMUNNASC      0
LOCNASC         0
IDADEMAE        0
             ...
munResUf        0
munResLat       1
munResLon       1
munResAlt       1
munResArea      1
Length: 69, dtype: int64

**3)**

In [50]:
sinasc=sinasc[['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 
    'GESTACAO', 'GRAVIDEZ', 'CONSULTAS', 'APGAR5']]

In [51]:
sinasc.isna().sum()
#valores faltantes acumulado por coluna

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      317
ESCMAE         312
QTDFILVIVO    1573
GESTACAO      1232
GRAVIDEZ        79
CONSULTAS        0
APGAR5         103
dtype: int64

**4)**

In [52]:
sinasc.dropna(subset=['APGAR5'],inplace=True)

In [53]:
sinasc.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      315
ESCMAE         310
QTDFILVIVO    1566
GESTACAO      1216
GRAVIDEZ        76
CONSULTAS        0
APGAR5           0
dtype: int64

**5)**

In [54]:
filtro1=sinasc[sinasc['ESTCIVMAE']==9.0].index
filtro2=sinasc[sinasc['CONSULTAS']==9].index
sinasc.drop(filtro1,inplace=True)
sinasc.drop(filtro2,inplace=True)
#Acredito que tenha uma maneira menos poluida para executar o código, mas não consegui fazer de outra maneira.

In [55]:
print(sinasc['ESTCIVMAE'].value_counts())
print(sinasc['CONSULTAS'].value_counts())

2.0    9893
1.0    8881
5.0    7135
4.0     450
3.0      57
Name: ESTCIVMAE, dtype: int64
4    18486
3     5925
2     1354
1      966
Name: CONSULTAS, dtype: int64

**6)**

In [56]:
sinasc['QTDFILVIVO'].fillna(0,inplace=True)

**7)**

In [57]:
sinasc.isna().sum()

LOCNASC          0
IDADEMAE         0
ESTCIVMAE      315
ESCMAE         288
QTDFILVIVO       0
GESTACAO      1197
GRAVIDEZ        75
CONSULTAS        0
APGAR5           0
dtype: int64

In [58]:
sinasc.dropna(inplace=True)
# Optei por dropar todos os valores faltantes, tendo em vista que ainda teriamos uma base de dados suficiente para análise. 
# Com isso, podemos obter uma análise sem o impacto dos dados não informados.

In [59]:
sinasc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24967 entries, 0 to 27027
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   LOCNASC     24967 non-null  int64
 1   IDADEMAE    24967 non-null  int64
 2   ESTCIVMAE   24967 non-null  float64
 3   ESCMAE      24967 non-null  object
 4   QTDFILVIVO  24967 non-null  float64
 5   GESTACAO    24967 non-null  object
 6   GRAVIDEZ    24967 non-null  object
 7   CONSULTAS   24967 non-null  int64
 8   APGAR5      24967 non-null  float64
dtypes: float64(3), int64(3), object(3)
memory usage: 1.9+ MB

**8)**

In [60]:
sinasc['APGAR5'].value_counts()

9.0     14927
10.0     7777
8.0      1843
7.0       226
6.0        69
5.0        39
1.0        22
4.0        20
0.0        15
2.0        15
3.0        14
Name: APGAR5, dtype: int64

In [63]:
sinasc.loc[(sinasc['APGAR5'] >= 8.0) & (sinasc['APGAR5'] <= 10.0), 'nível_asfixia'] = 'normal'
sinasc.loc[(sinasc['APGAR5'] >= 6.0) & (sinasc['APGAR5'] <= 7.0), 'nível_asfixia'] = 'asfixia leve'
sinasc.loc[(sinasc['APGAR5'] >= 4.0) & (sinasc['APGAR5'] <= 5.0), 'nível_asfixia'] = 'asfixia moderada'
sinasc.loc[(sinasc['APGAR5'] >= 0.0) & (sinasc['APGAR5'] <= 3.0), 'nível_asfixia'] = 'asfixia severa'

In [70]:
sinasc['nível_asfixia'].value_counts()

normal              24547
asfixia leve          295
asfixia severa         66
asfixia moderada       59
Name: nível_asfixia, dtype: int64

**9)**

In [76]:
sinasc.columns

Index(['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 'GESTACAO',
       'GRAVIDEZ', 'CONSULTAS', 'APGAR5', 'nível_asfixia'],
      dtype='object')

In [78]:
for coluna in ['LOCNASC', 'IDADEMAE', 'ESTCIVMAE', 'ESCMAE', 'QTDFILVIVO', 'GESTACAO',
       'GRAVIDEZ', 'CONSULTAS', 'APGAR5', 'nível_asfixia']:
    colunas= coluna.lower()
    sinasc
    print(colunas)

locnasc
idademae
estcivmae
escmae
qtdfilvivo
gestacao
gravidez
consultas
apgar5
nível_asfixia

In [103]:
sinasc.rename(columns={'LOCNASC':'locnasc','IDADEMAE':'idademae','ESTCIVMAE':'estcivmae',
                      'ESCMAE':'escmae','QTDFILVIVO':'qtdfilvivo','GESTACAO':'gestacao','GRAVIDEZ':'gravidez',
                      'CONSULTAS':'consultas','APGAR5':'apgar5'},inplace=True)
#Acredito que tenha uma outra maneira de substituir os nomes das colunas.

In [104]:
sinasc

,locnasc,idademae,estcivmae,escmae,qtdfilvivo,gestacao,gravidez,consultas,apgar5,nível_asfixia
0,1,19,5.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,normal
1,1,29,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,9.0,normal
3,1,30,5.0,12 anos ou mais,0.0,37 a 41 semanas,Única,3,10.0,normal
4,1,30,2.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,10.0,normal
5,1,33,5.0,1 a 3 anos,2.0,37 a 41 semanas,Única,4,10.0,normal
...,...,...,...,...,...,...,...,...,...,...
27023,1,32,2.0,12 anos ou mais,1.0,32 a 36 semanas,Única,4,9.0,normal
27024,1,19,1.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,9.0,normal
27025,1,24,2.0,8 a 11 anos,0.0,37 a 41 semanas,Única,4,10.0,normal
27026,1,21,2.0,8 a 11 anos,1.0,32 a 36 semanas,Única,4,9.0,normal
27027,1,18,5.0,8 a 11 anos,1.0,37 a 41 semanas,Única,4,8.0,normal