In [48]:
import pandas as pd
import numpy as np
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.metrics import mean_squared_error
from sklearn import datasets
from sklearn.tree import DecisionTreeRegressor
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_boston
import statsmodels.formula.api as smf
import statsmodels.api as sm

In [49]:
renda=pd.read_csv('previsao_de_renda.csv')
renda.head()

,Unnamed: 0,data_ref,id_cliente,sexo,posse_de_veiculo,posse_de_imovel,qtd_filhos,tipo_renda,educacao,estado_civil,tipo_residencia,idade,tempo_emprego,qt_pessoas_residencia,renda
0,0,2015-01-01,15056,F,False,True,0,Empresário,Secundário,Solteiro,Casa,26,6.602740,1.0,8060.34
1,1,2015-01-01,9968,M,True,True,0,Assalariado,Superior completo,Casado,Casa,28,7.183562,2.0,1852.15
2,2,2015-01-01,4312,F,True,True,0,Empresário,Superior completo,Casado,Casa,35,0.838356,2.0,2253.89
3,3,2015-01-01,10639,F,False,True,1,Servidor público,Superior completo,Casado,Casa,30,4.846575,3.0,6600.77
4,4,2015-01-01,7064,M,True,False,0,Assalariado,Secundário,Solteiro,Governamental,33,4.293151,1.0,6475.97

In [50]:
renda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             15000 non-null  int64
 1   data_ref               15000 non-null  object
 2   id_cliente             15000 non-null  int64
 3   sexo                   15000 non-null  object
 4   posse_de_veiculo       15000 non-null  bool
 5   posse_de_imovel        15000 non-null  bool
 6   qtd_filhos             15000 non-null  int64
 7   tipo_renda             15000 non-null  object
 8   educacao               15000 non-null  object
 9   estado_civil           15000 non-null  object
 10  tipo_residencia        15000 non-null  object
 11  idade                  15000 non-null  int64
 12  tempo_emprego          12427 non-null  float64
 13  qt_pessoas_residencia  15000 non-null  float64
 14  renda                  15000 non-null  float64
dtypes: bool(2), float64(3), int64(4), object(6)
memory usage: 1.5+ MB

1. Ajustando modelo para prever a log da renda considerando todas as covariaveis disponíveis

In [51]:
renda['qtd_filhos'].value_counts()

0     10376
1      3037
2      1376
3       185
4        17
7         5
14        2
5         2
Name: qtd_filhos, dtype: int64

In [52]:
renda['tipo_renda'].value_counts()

Assalariado         7633
Empresário          3508
Pensionista         2582
Servidor público    1268
Bolsista               9
Name: tipo_renda, dtype: int64

In [53]:
renda['educacao'].value_counts()

Secundário             8895
Superior completo      5335
Superior incompleto     579
Primário                165
Pós graduação            26
Name: educacao, dtype: int64

In [54]:
renda['estado_civil'].value_counts()

Casado      10534
Solteiro     1798
União        1078
Separado      879
Viúvo         711
Name: estado_civil, dtype: int64

In [55]:
renda['tipo_residencia'].value_counts()

Casa             13532
Com os pais        675
Governamental      452
Aluguel            194
Estúdio             83
Comunitário         64
Name: tipo_residencia, dtype: int64

In [59]:
model = smf.ols('np.log(renda) ~ data_ref + sexo + posse_de_veiculo + posse_de_imovel + C(qtd_filhos,Treatment(0)) + C(tipo_renda,Treatment(0)) + C(educacao,Treatment(2)) + C(estado_civil,Treatment(0)) + C(tipo_residencia,Treatment(1)) + idade + tempo_emprego + C(qt_pessoas_residencia)',data=renda).fit()
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          np.log(renda)   R-squared:                       0.360
Model:                            OLS   Adj. R-squared:                  0.357
Method:                 Least Squares   F-statistic:                     144.9
Date:                Wed, 17 May 2023   Prob (F-statistic):               0.00
Time:                        14:41:06   Log-Likelihood:                -13545.
No. Observations:               12427   AIC:                         2.719e+04
Df Residuals:                   12378   BIC:                         2.755e+04
Df Model:                          48
Covariance Type:            nonrobust
=====================================================================================================================
                                                        coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------------------
Intercept                                             6.8068      0.119     57.361      0.000       6.574       7.039
data_ref[T.2015-02-01]                                0.0031      0.035      0.086      0.931      -0.066       0.073
data_ref[T.2015-03-01]                                0.0509      0.036      1.432      0.152      -0.019       0.120
data_ref[T.2015-04-01]                                0.0502      0.035      1.417      0.157      -0.019       0.120
data_ref[T.2015-05-01]                               -0.0193      0.035     -0.547      0.584      -0.089       0.050
data_ref[T.2015-06-01]                                0.0743      0.035      2.095      0.036       0.005       0.144
data_ref[T.2015-07-01]                                0.0301      0.035      0.852      0.394      -0.039       0.099
data_ref[T.2015-08-01]                                0.0010      0.035      0.029      0.977      -0.069       0.071
data_ref[T.2015-09-01]                               -0.0066      0.035     -0.188      0.851      -0.076       0.062
data_ref[T.2015-10-01]                                0.0234      0.035      0.661      0.509      -0.046       0.093
data_ref[T.2015-11-01]                                0.0197      0.035      0.555      0.579      -0.050       0.089
data_ref[T.2015-12-01]                                0.0720      0.036      2.023      0.043       0.002       0.142
data_ref[T.2016-01-01]                               -0.0368      0.035     -1.038      0.299      -0.106       0.033
data_ref[T.2016-02-01]                               -0.0055      0.035     -0.156      0.876      -0.075       0.064
data_ref[T.2016-03-01]                               -0.0392      0.036     -1.095      0.274      -0.109       0.031
sexo[T.M]                                             0.7885      0.015     53.729      0.000       0.760       0.817
posse_de_veiculo[T.True]                              0.0431      0.014      3.049      0.002       0.015       0.071
posse_de_imovel[T.True]                               0.0824      0.014      5.883      0.000       0.055       0.110
C(qtd_filhos, Treatment(0))[T.1]                     -0.2449      0.112     -2.193      0.028      -0.464      -0.026
C(qtd_filhos, Treatment(0))[T.2]                     -0.5632      0.223     -2.530      0.011      -1.000      -0.127
C(qtd_filhos, Treatment(0))[T.3]                     -0.5454      0.486     -1.122      0.262      -1.499       0.408
C(qtd_filhos, Treatment(0))[T.4]                      0.3421      0.439      0.780      0.436      -0.518       1.202
C(qtd_filhos, Treatment(0))[T.5]                      0.2875      0.407      0.707      0.480      -0.510       1.085
C(qtd_filhos, Treatment(0))[T.7]                      0.1592      0.171      0.933      0.351      -0.175       0.494
C(qtd_filhos, Treatment(0))[T.14]                    -0.3391      0.256     -1.327      0.185      -0.840       0.162
C(tipo_renda, Treatment(0))[T.Bolsista]               0.2257      0.241      0.936      0.349      -0.247       0.698
C(tipo_renda, Treatment(0))[T.Empresário]             0.1561      0.015     10.454      0.000       0.127       0.185
C(tipo_renda, Treatment(0))[T.Pensionista]           -0.2920      0.243     -1.203      0.229      -0.768       0.184
C(tipo_renda, Treatment(0))[T.Servidor público]       0.0549      0.022      2.471      0.014       0.011       0.099
C(educacao, Treatment(2))[T.Primário]                 0.0165      0.072      0.230      0.818      -0.125       0.158
C(educacao, Treatment(2))[T.Pós graduação]            0.1108      0.142      0.778      0.437      -0.168       0.390
C(educacao, Treatment(2))[T.Superior completo]        0.1095      0.014      7.743      0.000       0.082       0.137
C(educacao, Treatment(2))[T.Superior incompleto]     -0.0283      0.032     -0.874      0.382      -0.092       0.035
C(estado_civil, Treatment(0))[T.Separado]             0.3145      0.112      2.804      0.005       0.095       0.534
C(estado_civil, Treatment(0))[T.Solteiro]             0.2533      0.110      2.299      0.022       0.037       0.469
C(estado_civil, Treatment(0))[T.União]               -0.0323      0.025     -1.284      0.199      -0.082       0.017
C(estado_civil, Treatment(0))[T.Viúvo]                0.3543      0.117      3.024      0.003       0.125       0.584
C(tipo_residencia, Treatment(1))[T.Aluguel]           0.0393      0.054      0.725      0.468      -0.067       0.145
C(tipo_residencia, Treatment(1))[T.Com os pais]       0.0195      0.029      0.662      0.508      -0.038       0.077
C(tipo_residencia, Treatment(1))[T.Comunitário]      -0.0759      0.092     -0.827      0.408      -0.256       0.104
C(tipo_residencia, Treatment(1))[T.Estúdio]           0.1047      0.084      1.247      0.212      -0.060       0.269
C(tipo_residencia, Treatment(1))[T.Governamental]    -0.0120      0.039     -0.308      0.758      -0.089       0.065
C(qt_pessoas_residencia)[T.2.0]                       0.2686      0.110      2.437      0.015       0.053       0.485
C(qt_pessoas_residencia)[T.3.0]                       0.5638      0.219      2.576      0.010       0.135       0.993
C(qt_pessoas_residencia)[T.4.0]                       0.9184      0.325      2.822      0.005       0.281       1.556
C(qt_pessoas_residencia)[T.5.0]                       0.7757      0.565      1.373      0.170      -0.332       1.883
C(qt_pessoas_residencia)[T.6.0]                       0.2991      0.407      0.736      0.462      -0.498       1.096
C(qt_pessoas_residencia)[T.7.0]                       0.3305      0.665      0.497      0.619      -0.972       1.633
C(qt_pessoas_residencia)[T.9.0]                       0.1592      0.171      0.933      0.351      -0.175       0.494
C(qt_pessoas_residencia)[T.15.0]                     -0.3391      0.256     -1.327      0.185      -0.840       0.162
idade                                                 0.0056      0.001      6.955      0.000       0.004       0.007
tempo_emprego                                         0.0616      0.001     59.257      0.000       0.060       0.064
==============================================================================
Omnibus:                        1.503   Durbin-Watson:                   2.028
Prob(Omnibus):                  0.472   Jarque-Bera (JB):                1.473
Skew:                           0.024   Prob(JB):                        0.479
Kurtosis:                       3.022   Cond. No.                     1.03e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.13e-25. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.


* Vemos que para as variaveis **data_ref,posse_de_veiculo,tipo_renda,educacao,estado_civil,qtd_filhos,qt_pessoas_residencia, e tipo_residencia** não parecem significativa para ajudar a explicar a variavél **renda**, sendo assim, vamos remover essas variavéis.

2. Removendo variaveis não significativas

In [57]:

model2 = smf.ols('np.log(renda) ~ sexo + posse_de_veiculo + posse_de_imovel + idade + tempo_emprego',data=renda).fit()
print(model2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:          np.log(renda)   R-squared:                       0.346
Model:                            OLS   Adj. R-squared:                  0.346
Method:                 Least Squares   F-statistic:                     1315.
Date:                Wed, 17 May 2023   Prob (F-statistic):               0.00
Time:                        14:39:54   Log-Likelihood:                -13676.
No. Observations:               12427   AIC:                         2.736e+04
Df Residuals:                   12421   BIC:                         2.741e+04
Df Model:                           5
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                    7.2550      0.032    228.981      0.000       7.193       7.317
sexo[T.M]                    0.7700      0.015     52.851      0.000       0.741       0.799
posse_de_veiculo[T.True]     0.0579      0.014      4.116      0.000       0.030       0.085
posse_de_imovel[T.True]      0.0880      0.014      6.379      0.000       0.061       0.115
idade                        0.0044      0.001      5.871      0.000       0.003       0.006
tempo_emprego                0.0611      0.001     59.199      0.000       0.059       0.063
==============================================================================
Omnibus:                        1.248   Durbin-Watson:                   2.026
Prob(Omnibus):                  0.536   Jarque-Bera (JB):                1.221
Skew:                           0.022   Prob(JB):                        0.543
Kurtosis:                       3.019   Cond. No.                         209.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

* Aparentemente o modelo ficou pior.
2. **posse_de_veiculo** pessoas que possuem imovel ganham *0.0552*;
3. **posse_de_imovel** pessoas que possuem imovel ganham *0.0871*;
4. **idade** para cada *0.0048* log da idade maior será a renda;
5. **tempo_emprego** a cada *0.0610      * a mais de tempo de emprego mais será a renda;
6. **log qt_pessoas_residencia** para cada *0.0161* do log da quantidade de pessoas na residencia maior será a renda;

3.Comparando modelos final com inicial

*Paramêtros* | *Primeiro modelo*  |*Segundo modelo*|
:----------------|:-----------:       |-------------- :|     
$${R^2}$$            |  0.360           | 0.346
$${R^2}-ajustado$$        |  0.357           |0.346
**AIC**             |  2.718e+04       |2.736e+04

* Realizando os comparativos o segundo modelo performou pior que o primeiro modelo, mesmo após a retirada de variaveis não significativas.